{% extends 'base.html' %}

{% block navsearch %}
    <form class="form-inline my-2 my-lg-0" action="/search/" method="post">

        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-right:3px">
            <label class="btn btn-primary">
                <input type="checkbox" name="check" value="food" autocomplete="off"> Food
            </label>
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-right:3px">
            <label class="btn btn-primary">
                <input type="checkbox" name="check" value="culture" autocomplete="off"> Culture
            </label>
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-right:25px">
            <label class="btn btn-primary">
                <input type="checkbox" name="check" value="transport" autocomplete="off"> Transport
            </label>
        </div>

        <input class="form-control mr-sm-2" type="text" name="query" value="{{query}}", autocomplete="off" required>

        <div class="form-group" style="color:#FFF">
            <select class="custom-select" name="continent" style="color:#FFF">
                <option selected="">Select a region</option>
                <option value="Europe">Europe</option>
                <option value="Asia">Asia</option>
                <option value="South America">South America</option>
            </select>
        </div>

        <button class="btn btn-secondary my-2 my-sm-0" style="margin-left:25px" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:3%">
        <div class="row">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Thank you!</strong> Evaluation submitted. Carry on with the next query in the search bar above.
            </div>
        </div>

        <h2>Queries</h2>
        <p><strong>Query 1: </strong>"bla bla bla"</p>
        <p><strong>Query 2: </strong>"bla bla bla"</p>
        <p><strong>Query 3: </strong>"bla bla bla"</p>
        <p><strong>Query 4: </strong>"bla bla bla"</p>
        <p><strong>Query 5: </strong>"bla bla bla"</p>
        <p><strong>Query 6: </strong>"bla bla bla"</p>
        <p><strong>Query 7: </strong>"bla bla bla"</p>
        <p><strong>Query 8: </strong>"bla bla bla"</p>
        <p><strong>Query 9: </strong>"bla bla bla"</p>
        <p><strong>Query 10: </strong>"bla bla bla"</p>
    </div>
{% endblock %}
